<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px" class="form-card">
    <mat-card-title>Login</mat-card-title>
    <!--<form-->
      <!--fxLayout="column"-->
      <!--fxLayoutGap="10px"-->
      <!--[formGroup]="loginForm"-->
      <!--(ngSubmit)="onSubmit()">-->

    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

      <mat-card-content>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email"
            formControlName="email">
          <mat-hint>Please enter a valid email.</mat-hint>
          <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Your password"
            formControlName="password">
          <mat-hint>Please enter your password.</mat-hint>
          <mat-error>Missing password.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          fxLayoutAlign="end"
          [disabled]="loginForm.invalid">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>

