<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="600px" class="form-card">
    <mat-card-title>{{ editMode ? 'Edit' : 'Add' }} a Workout</mat-card-title>
    <form
      fxLayout="column"
      fxLayoutGap="10px"
      [formGroup]="awForm"
      (ngSubmit)="saveAvailableWorkout()">

      <mat-card-content>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Title"
            formControlName="title">
          <mat-error *ngIf="awForm.get('title').hasError('required') && awForm.get('title').touched">
            Title is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea
            rows="5"
            cols="50"
            matInput
            placeholder="Description"
            formControlName="description"></textarea>
          <mat-error *ngIf="awForm.get('description').hasError('required') && awForm.get('description').touched">
            Description is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            mask="00:00:00"
            [dropSpecialCharacters]="false"
            placeholder="Duration (hh:mm:ss)"
            formControlName="duration">
          <mat-error *ngIf="awForm.get('duration').hasError('required') && awForm.get('duration').touched">
            Duration is required.
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-select
            placeholder="Source"
            formControlName="source">
            <mat-option *ngFor="let source of sourceList" [value]="source.name">{{source.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="awForm.get('source').hasError('required') && awForm.get('source').touched">
            Source is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Equipment Needed"
            formControlName="equipment"
            multiple>
            <mat-option *ngFor="let equipment of equipmentList" [value]="equipment.name">{{equipment.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Workout Type"
            formControlName="type"
            multiple>
            <mat-option *ngFor="let type of typeList" [value]="type.name">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Area of Emphasis"
            formControlName="emphasis"
            multiple>
            <mat-option *ngFor="let emphasis of emphasisList" [value]="emphasis.name">{{emphasis.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Record"
            formControlName="record">
            <mat-option *ngFor="let measurementType of measurementTypeList" [value]="measurementType.name">{{measurementType.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="awForm.get('record').hasError('required') && awForm.get('record').touched">
            Record is required.
          </mat-error>
        </mat-form-field>


      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button
          type="button"
          mat-raised-button
          color="accent"
          fxLayoutAlign="end"
          (click)="onClear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          fxLayoutAlign="end"
          [disabled]="awForm.invalid">
          <mat-icon>save</mat-icon>
          {{ editMode ? 'Update' : 'Add' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>

