<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="600px" class="form-card">
    <mat-card-title>{{ editMode ? 'Edit' : 'Add' }} an Exercise</mat-card-title>
    <form
      fxLayoutGap="10px"
      [formGroup]="exForm"
      (ngSubmit)="saveExercise()" novalidate>

      <mat-card-content fxLayout="row">
        <mat-form-field class="input-half-width">
          <input
            type="text"
            matInput
            (keyup)="searchExercises($event)"
            [matAutocomplete]="auto"
            placeholder="Search Exercises"
            formControlName="searchExercises">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (onSelectionChange)="exerciseSelected($event)"
            *ngFor="let exercise of exerciseList"
            [value]="exercise?.value">
            {{ exercise?.value }}
          </mat-option>
        </mat-autocomplete>

        <div formArrayName="exerciseSets" *ngIf="showSets" class="exerciseSetsContainer">
          <div *ngFor="let exSet of exForm.controls['exerciseSets'].controls; let i=index">
            <app-exercise-set-add-edit [exerciseSetForm]="exForm.controls.exerciseSets.controls[i]"></app-exercise-set-add-edit>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <button
              type="button"
              mat-raised-button
              class="mat-small"
              color="accent"
              title="Add Set"
              (click)="addExerciseSet()">
              <mat-icon>add</mat-icon>
            </button>
            <button
              *ngIf="setCount > 0"
              type="button"
              mat-raised-button
              class="mat-small"
              color="warn"
              title="Remove Set"
              (click)="removeExerciseSet()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button
          type="button"
          mat-raised-button
          color="warn"
          fxLayoutAlign="end"
          (click)="onClear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          fxLayoutAlign="end"
          [disabled]="exForm.invalid">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
