<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/admin" (click)="onClose()" [matMenuTriggerFor]="admin" *ngIf="isAdmin">
    <mat-icon>build</mat-icon>
    <span class="nav-caption">Admin</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onClose()" [matMenuTriggerFor]="training" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>

<mat-menu #admin="matMenu">
  <button mat-menu-item><a routerLink="/admin/available-workouts">Available Workouts</a></button>
  <button mat-menu-item><a routerLink="/admin/available-workout-add-edit">Add Available Workouts</a></button>
  <button mat-menu-item><a routerLink="/admin/exercises">Exercises</a></button>
  <button mat-menu-item><a routerLink="/admin/exercise-add-edit">Add Exercise</a></button>
  <button mat-menu-item><a routerLink="/admin/users">Users</a></button>
</mat-menu>

<mat-menu #training="matMenu">
  <button mat-menu-item><a routerLink="/training/record-workout">Record a Workout</a></button>
  <button mat-menu-item><a routerLink="/training/recommend-workout">Recommend a Workout</a></button>
  <button mat-menu-item><a routerLink="/training/past-workouts">Completed Workouts</a></button>
</mat-menu>
