<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="600px" class="form-card">
    <mat-card-title>Record a Workout</mat-card-title>
    <form
      fxLayout="column"
      fxLayoutGap="10px"
      [formGroup]="rwForm"
      (ngSubmit)="saveRecordedWorkout(false)">

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Source"
          formControlName="source"
          (change)="fetchAvailableWorkoutList($event)">
          <mat-option *ngFor="let source of sourceList" [value]="source.value">{{source.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rwForm.get('source').hasError('required') && rwForm.get('source').touched">
          Source is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="availableWorkoutList?.length > 0">
        <mat-select
          placeholder="Workouts"
          formControlName="availableWorkouts"
          (change)="availableWorkoutSelected($event)">
          <mat-option *ngFor="let availableWorkout of availableWorkoutList" [value]="availableWorkout.id">{{availableWorkout.title}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rwForm.get('availableWorkouts').hasError('required') && rwForm.get('availableWorkouts').touched">
          Source is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Workout Type"
          formControlName="type"
          (change)="checkCanAddExercises()"
          multiple>
          <mat-option
            *ngFor="let type of typeList"
            [value]="type.value">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-content>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Title"
            formControlName="title">
          <mat-error *ngIf="rwForm.get('title').hasError('required') && rwForm.get('title').touched">
            Title is required.
          </mat-error>
        </mat-form-field>

        <mat-card-subtitle *ngIf="selectedAvailableWorkout?.description">Description:</mat-card-subtitle>
        <pre *ngIf="selectedAvailableWorkout?.description">{{selectedAvailableWorkout.description}}</pre>

        <mat-form-field>
          <textarea
            rows="5"
            cols="50"
            matInput
            placeholder="Notes"
            formControlName="notes"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Duration (hh:mm:ss)"
            mask="00:00:00"
            [dropSpecialCharacters]="false"
            formControlName="duration">
          <mat-error *ngIf="rwForm.get('duration').hasError('required') && rwForm.get('duration').touched">
            Duration is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Area of Emphasis"
            formControlName="emphasis"
            (change)="checkCanAddExercises()"
            multiple>
            <mat-option
              *ngFor="let emphasis of emphasisList"
              [value]="emphasis.value">
              {{emphasis.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button
          type="button"
          mat-raised-button
          color="warn"
          fxLayoutAlign="end"
          (click)="onClear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
        <button
          *ngIf="canAddExercises"
          type="button"
          mat-raised-button
          color="accent"
          fxLayoutAlign="end"
          (click)="saveRecordedWorkout(true)">
          <mat-icon>fitness_center</mat-icon>
          Add Exercises
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          fxLayoutAlign="end"
          [disabled]="rwForm.invalid">
          <mat-icon>save</mat-icon>
          {{ editMode ? 'Update' : 'Add' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>

