
<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="600px" class="form-card">
    <mat-card-title>Recommend a Workout</mat-card-title>
      <mat-card-content>
        <b>Filter by:</b>
        <p>
          Exercises<br />
          Duration<br />
          Equipment<br />
          Muscle Group(s)<br />
          Style (yoga, weights, cardio, etc.)<br />
          Source (p90x, Crossfit, Body Beast, Skogg, etc.)<br />
        </p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Search"
            [(ngModel)]="searchTerm" (keydown)="search($event)">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="primary" fxLayoutAlign="end">
          <mat-icon>directions_run</mat-icon>
          GO!
        </button>
      </mat-card-actions>

  </mat-card>

  <mat-card
    fxFlex.xs="100%"
    fxFlex="400px"
    class="form-card"
    *ngFor="let aw of availableWorkouts">
    <mat-card-title>{{aw.title}}</mat-card-title>

      <mat-card-content>
        <p>{{aw.description}}</p>
        <b>Workout Type:</b>{{aw.type}}<br />
        <b>Area of Emphasis:</b>{{aw.emphasis}}<br />
        <b>Duration:</b>{{aw.duration}}<br />
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="primary" fxLayoutAlign="end">
          <mat-icon>directions_run</mat-icon>
          Select!
        </button>
      </mat-card-actions>

  </mat-card>

</section>
