
<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px" class="form-card">
    <mat-card-title>Recommend a Workout</mat-card-title>

    <form
      fxLayout="column"
      fxLayoutGap="10px">

      <mat-card-content>
        <b>Filter by:</b>
        <p>
          Exercises<br />
          Duration<br />
          Equipment<br />
          Muscle Group(s)<br />
          Style (yoga, weights, cardio, etc.)<br />
          Source (p90x, Crossfit, Body Beast, Skogg, etc.)<br />
        </p>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="primary" fxLayoutAlign="end">
          <mat-icon>directions_run</mat-icon>
          GO!
        </button>
      </mat-card-actions>

    </form>

  </mat-card>
</section>
