<ais-instantsearch [config]="searchConfigAW">
  <section fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="600px" class="form-card">
      <mat-card-title>Recommend a Workout</mat-card-title>
      <mat-card-content>
        <b>What are you looking for today?</b>
        <app-ais-mat-search-box
          (change)="searchChangedAW($event)"
          placeholder="Search Workouts by"
          submitTitle="Find">
        </app-ais-mat-search-box>
      </mat-card-content>
    </mat-card>
  </section>

  <section fxLayout fxLayoutAlign="center" *ngIf="showResultsAW">
    <ais-hits *ngIf="showResultsAW">
      <ng-template let-hits="hits">
        <mat-card
          fxFlex.xs="100%"
          fxFlex="600px"
          class="form-card">
          <mat-list>
            <mat-list-item *ngFor="let hit of hits">
              <h3 mat-line>
                <span *ngIf="hit.source">{{hit.source}} - </span>
                <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
              </h3>
              <div mat-line>
                <pre>
                  <ais-highlight attribute="description" [hit]="hit"></ais-highlight>
                </pre>
              </div>
              <div mat-line *ngIf="hit.type"><b>Workout Type: </b><ais-highlight attribute="type" [hit]="hit"></ais-highlight></div>
              <div mat-line *ngIf="hit.emphasis"><b>Area of Emphasis: </b><ais-highlight attribute="emphasis" [hit]="hit"></ais-highlight></div>
              <div mat-line *ngIf="hit.duration"><b>Duration: </b><ais-highlight attribute="duration" [hit]="hit"></ais-highlight></div>
              <div mat-line *ngIf="hit.equipment"><b>Equipment: </b><ais-highlight attribute="equipment" [hit]="hit"></ais-highlight></div>
              <div mat-line fxLayoutAlign="end">
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  fxLayoutAlign="end"
                  (click)="onSelectWorkout(hit)">
                  <mat-icon>directions_run</mat-icon>
                  Go!
                </button>
              </div>
              <mat-divider *ngIf="hits.length > 1"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </ng-template>
    </ais-hits>
  </section>

</ais-instantsearch>
