<section fxLayout fxLayoutAlign="center">

  <mat-expansion-panel
    fxFlex.xs="100%"
    fxFlex="600px"
    (opened)="setPanelOpenState(true)"
    (closed)="setPanelOpenState(false)"
    [expanded]="panelOpenState"
    hideToggle="true"
    class="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Add an Exercise</h2>
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end" class="expansionPanelHeaderButtons">
        <div fxFlex></div>
        <mat-icon *ngIf="!panelOpenState">add</mat-icon>
        <mat-icon *ngIf="panelOpenState">clear</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form
      fxLayoutGap="10px"
      [formGroup]="exForm"
      (ngSubmit)="saveExercise()" novalidate>

      <div fxLayout="row">
        <mat-form-field class="input-half-width">
          <input
            type="text"
            matInput
            (keyup)="searchExercises($event)"
            [matAutocomplete]="auto"
            placeholder="Search Exercises"
            formControlName="searchExercises">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (onSelectionChange)="exerciseSelected($event)"
            *ngFor="let exercise of exerciseList"
            [value]="exercise">
            {{ exercise?.name }}
          </mat-option>
        </mat-autocomplete>
        <app-exercise-set-manager
          formArrayName="exerciseSets"
          [(exerciseSets)]="exerciseSetControls"
          *ngIf="showSets"></app-exercise-set-manager>
      </div>

      <mat-action-row fxLayoutAlign="end" *ngIf="selectedExercise">
        <button
          type="button"
          mat-raised-button
          color="warn"
          fxLayoutAlign="end"
          (click)="onClear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
        &nbsp;&nbsp;
        <button
          type="submit"
          mat-raised-button
          color="primary"
          fxLayoutAlign="end"
          [disabled]="exForm.invalid">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </mat-action-row>
    </form>

  </mat-expansion-panel>

</section>
