/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.form-card {
  margin-top: 10px;
}

mat-form-field {
  /*width: 300px;*/
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-raised-button.mat-small {
  min-width: 1%;
  min-height: 1%;
}

.list-page-header {
  margin-top: 15px;
  margin-left: 15px;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
