<section fxLayout fxLayoutAlign="center">

  <mat-expansion-panel fxFlex.xs="100%" fxFlex="600px" style="margin-top: 10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{ currentWorkout?.date | date:'shortDate' }}</b>&nbsp; {{ currentWorkout?.title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="currentWorkout?.source">
        {{ currentWorkout?.source }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{currentWorkout?.description}}</div>
    <div>
      <table style="margin-top: 10px;">
        <tr><td><b>Workout Type:</b></td><td>{{currentWorkout?.type}}</td></tr>
        <tr><td><b>Area of Emphasis:</b></td><td>{{currentWorkout?.emphasis}}</td></tr>
        <tr><td><b>Duration:</b></td><td>{{currentWorkout?.duration}}</td></tr>
      </table>
    </div>

    <mat-action-row>
      <button
        type="button"
        mat-raised-button
        color="accent"
        title="Edit"
        (click)="onEditWorkout()">
        <mat-icon>mode_edit</mat-icon>
        Edit Workout
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</section>

<app-add-exercise-to-workout></app-add-exercise-to-workout>

<app-workout-exercise-display
  *ngFor="let workoutExercise of currentWorkout?.exercises"
  [workoutExercise]="workoutExercise">
</app-workout-exercise-display>



